<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/expiredColors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/banner.css}">
</head>
<body>
    <p th:text="'ID: ' + ${person.getPerson_id()}"></p>
    <p th:text="${person.getName()} + ', ' + ${person.getYear_of_birth()}"></p>
    <div th:if="${bookList.isEmpty()}">
        <h3> The person hasn't picked up any books yet </h3>
    </div>
    <div th:unless="${bookList.isEmpty()}">
        <hr/>
        <h3> Books: </h3>
        <div class="expiredDiv" th:each="book : ${bookList}" style="display: flex">
            <a th:href="@{/books/{id}(id=${book.getBook_id()})}">
                <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
            </a>
            <input type="hidden" th:value="${book.isExpired()}" class="isExpiredValue"/>
            <div th:class="${book.isExpired() ? 'expired' : 'not-expired'}"
                 th:with="daysLeft=${book.dayBeforeTheDelay()}">
                <p th:if="${daysLeft <= 10}" th:text="${daysLeft} == 10 ? '1 day before the return' : ${10 - daysLeft} + ' day before the return'"></p>
                <p th:if="${daysLeft > 10}" th:text="${daysLeft - 10} + ' day(s) overdue'"></p>
            </div>
        </div>
    </div>
    <hr/>
    <form style="margin-bottom: 5px" th:method="GET" th:action="@{/people/{id}/edit(id = ${person.getPerson_id()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getPerson_id()})}">
        <input type="submit" value="Delete">
    </form>

    <script th:src="@{/js/colorDivBorder.js}"></script>
</body>
</html>