<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/banner.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/submitAvailable.css}">
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{book_id}(book_id=${editBook.getBook_id()})}" th:object="${editBook}">
  <div class="menu">
    <div>
      <p th:text="'ID: ' + ${editBook.getBook_id()}">id</p>
      <label for="name">Название книги: </label>
      <input type="text" th:field="*{name}" id="name">
      <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name err</div>
    </div>
    <br/>
    <div>
      <label for="author">Автор: </label>
      <input style="margin-left: 83px;" type="text" th:field="*{author}" id="author">
      <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author err</div>
    </div>
    <br/>
    <div>
      <label for="year">Год издания: </label>
      <input style="margin-left: 32px;" type="text" th:field="*{year}" id="year">
      <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year err</div>
    </div>
    <br/>
    <input class="submitButton" type="submit" value="Обновить!"/>
  </div>
</form>
</body>
</html>