.submitButton[disabled] {
    background-color: #80808000;
    color: #98989882;
}

.submitButton {
    background-color: #51796c;
    color: #fbfbfb;
    font-size: 15px;
    border-radius: 9px;
    position: absolute;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -5px;
}