<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="searchBlock" style="display: flex">
    <div class="searchDiv">
      <form th:method="GET" th:action="@{/books/getFoundBooks}" style="margin-top: 7px;">
        <label for="searchInput" style="margin-left: 14px">Поиск: </label>
        <input style="margin-left: 10px;" type="text" value="" id="searchInput" oninput="searchBooks()"/>
        <input class="submitButton submitSearchCustom" type="submit" value="Найти" id="submitSearch" disabled/>
      </form>
      <div id="searchResultsContainer" style="margin: 8px auto 0;"></div>
    </div>
  </div>
</body>
</html>